W1_leads generation Bicycle.json
{
  "name": "W1_leads generation Bicycle",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// 1. Recupero dati\nconst webhookData = $('Webhook').item.json.body; \nconst stockItems = $('lettura dati stock').all(); \n\n// 2. Preparazione dati (cerchiamo sia 'Bicycle Model' che 'Bicycle Models')\nconst orderedQty = parseInt(webhookData.quantity || 0); \nconst rawBikeName = webhookData['Bicycle Model'] || webhookData['Bicycle Models'] || '';\n\nconst bikeModel = String(rawBikeName)\n  .replace(/[\\[\\]\"']/g, '')\n  .trim()\n  .toLowerCase();\n\n// 3. Ricerca nel magazzino (il foglio usa sempre il plurale 'Bicycle Models')\nconst stockEntry = stockItems.find(item => {\n  const stockName = String(item.json['Bicycle Models'] || '').trim().toLowerCase();\n  return stockName === bikeModel;\n});\n\nconst availableStock = stockEntry ? parseInt(stockEntry.json['stock'] || 0) : 0;\nconst stockAvailable = availableStock >= orderedQty;\n\n// 4. Output finale\nreturn [{\n  json: {\n    ...webhookData,\n    ['Bicycle Models']: bikeModel, // Lo salviamo come plurale per coerenza col DB\n    orderedQty,\n    availableStock,\n    stockAvailable,\n    newStock: stockAvailable ? (availableStock - orderedQty) : availableStock,\n    newStatus: stockAvailable ? 'CONFIRMED' : 'DELAYED'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4256,
        8496
      ],
      "id": "8d5e8e65-01e3-4365-b5f1-49e054823bc0",
      "name": "code java validation (check ordini if stock sufficente)"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Order Confirmed - Your Bicycles Are On The Way!",
        "emailType": "text",
        "message": "=Dear {{ $json.CustomerName }} ,\n\n\nYour order has been confirmed!\n\nOrder Details:\n- Models: {{ $json['Bicycle Models'] }}\n- Order ID: {{ $json.id }}\n- Estimated Delivery: 2-4 business days\n\n\nThank you!\nThe Bicycle Shop Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -3584,
        8304
      ],
      "id": "2d2b522f-66e1-49c7-a382-4196c7e27a4c",
      "name": "Send a message to client order is confirmed",
      "webhookId": "0fd2e577-401d-4952-97af-44dd7a090ea8",
      "credentials": {
        "gmailOAuth2": {
          "id": "53D8kOUWF37L6Qfx",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ZX8fvh5b89WdVL1ZyK3EOBHg0svtpRdsAnEP3McqUaM",
          "mode": "list",
          "cachedResultName": "Inventario - Magazzino",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZX8fvh5b89WdVL1ZyK3EOBHg0svtpRdsAnEP3McqUaM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Foglio1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZX8fvh5b89WdVL1ZyK3EOBHg0svtpRdsAnEP3McqUaM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "stock": "={{ $json.newStock }}",
            "Bicycle Models": "={{ $json['Bicycle Models'] }}",
            "orderStatus": "={{ $json.newStatus }}",
            "id": "={{ $json.id }}"
          },
          "matchingColumns": [
            "Bicycle Models"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Bicycle Models",
              "displayName": "Bicycle Models",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "stock",
              "displayName": "stock",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "orderStatus",
              "displayName": "orderStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -3808,
        8496
      ],
      "id": "2bfd7c94-1171-4520-8adb-3d9d6697858c",
      "name": "aggiornamento finale dello stock",
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "78DXOMq3gmiXam1g",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "POST"
        ],
        "path": "e177a163-f661-4781-8307-c35e4f823c6d",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -5280,
        8592
      ],
      "id": "61d7de5f-4355-4151-99ee-fc6fac83ff0b",
      "name": "Webhook",
      "webhookId": "e177a163-f661-4781-8307-c35e4f823c6d"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1J8ZR-36FTux6lTkcSJQ0s9BiBBMYPXckkA4kHMs0Kkc",
          "mode": "list",
          "cachedResultName": "Ordini -Mese-Febbraio",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1J8ZR-36FTux6lTkcSJQ0s9BiBBMYPXckkA4kHMs0Kkc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1771101534,
          "mode": "list",
          "cachedResultName": "Ordini -Mese-Febbraio",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1J8ZR-36FTux6lTkcSJQ0s9BiBBMYPXckkA4kHMs0Kkc/edit#gid=1771101534"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "Email": "={{ $json.email }}",
            "quantity": "={{ $json.quantity }}",
            "CustomerName": "={{ $json.CustomerName }}",
            "Bicycle Models": "={{ $json['Bicycle Models'] }}",
            "phone": "={{ $json.phone }}",
            "notes": "={{ $json.notes }}",
            "orderStatus": "={{ $json.newStatus }}",
            "price": "={{ $json.price }}",
            "Shipping Address": "={{ $json['Shipping Address'] }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CustomerName",
              "displayName": "CustomerName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Shipping Address",
              "displayName": "Shipping Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Bicycle Models",
              "displayName": "Bicycle Models",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "quantity",
              "displayName": "quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "orderStatus",
              "displayName": "orderStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -3808,
        8304
      ],
      "id": "d2ec3139-1511-4f32-b9d6-2e5a84039c95",
      "name": "AGGIORNAMENTO ORIDINI",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "78DXOMq3gmiXam1g",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ZX8fvh5b89WdVL1ZyK3EOBHg0svtpRdsAnEP3McqUaM",
          "mode": "list",
          "cachedResultName": "WF1_Inventario - Magazzino",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZX8fvh5b89WdVL1ZyK3EOBHg0svtpRdsAnEP3McqUaM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Foglio1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZX8fvh5b89WdVL1ZyK3EOBHg0svtpRdsAnEP3McqUaM/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -4480,
        8496
      ],
      "id": "6cba4a80-a9b3-48d2-869a-6c449b1654a2",
      "name": "lettura dati stock",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "78DXOMq3gmiXam1g",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1KmduRcQ9yJSoW2HMfEkhGjlBMYCMqin7esWOO8ASZ9g",
          "mode": "list",
          "cachedResultName": "WF1_WF2_Manual_verification_client DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KmduRcQ9yJSoW2HMfEkhGjlBMYCMqin7esWOO8ASZ9g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Foglio1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KmduRcQ9yJSoW2HMfEkhGjlBMYCMqin7esWOO8ASZ9g/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "CustomerName": "={{ $('Webhook').item.json.body.CustomerName }}",
            "orderStatus": "=PENDING_VERIFICATION",
            "Bicycle Models": "={{ $('Webhook').item.json.body['Bicycle Models'] }}",
            "Timestamp": "={{ $now.toISO() }}",
            "id": "={{ $('Webhook').item.json.body.id }}",
            "phone": "={{ $('Webhook').item.json.body.phone }}",
            "quantity": "={{ $('Webhook').item.json.body.quantity }}",
            "notes": "={{ $('Webhook').item.json.body.notes }}",
            "Shipping Address": "={{ $('Webhook').item.json.body['Shipping Address'] }}",
            "price": "={{ $('Webhook').item.json.body.price }}",
            "email": "={{ $('Webhook').item.json.body.email }}",
            "retryCount": "0"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CustomerName",
              "displayName": "CustomerName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Shipping Address",
              "displayName": "Shipping Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Bicycle Models",
              "displayName": "Bicycle Models",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "quantity",
              "displayName": "quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "orderStatus",
              "displayName": "orderStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "validatedAt",
              "displayName": "validatedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "retryCount",
              "displayName": "retryCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -4480,
        8688
      ],
      "id": "d590a07a-491c-4239-8a2e-6b0f38d9cfdc",
      "name": "Manual verfication client DB",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "78DXOMq3gmiXam1g",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "W1 - LEADS GENERATION BICYCLE\nBICYCLE ORDER INTAKE & VALIDATION SYSTEM. AI-POWERED DATA VERIFICATION WITH STOCK MANAGEMENT.\n\n📥 Webhook - receive order from form/API\n\n🤖 AI Validation (LLM + OpenAI) - check email/phone/address validity\n\n🔀 Switch - route based on validation result:\n\n✅ VALID → stock check\n\n⚠️ PENDING_VERIFICATION → manual DB + email client\n\n❌ INVALID → reject\n\n📊 Google Sheets: Read - check inventory stock\n\n💻 Code - compare ordered qty vs available stock\n\n🔀 IF - stock sufficient?\n\n✅ TRUE branch:\n\n📉 Google Sheets: Update - decrease stock\n\n📝 Google Sheets: Update - save order (status: CONFIRMED)\n\n📧 Gmail: Send - confirmation to client\n\n❌ FALSE branch:\n\n📝 Google Sheets: Append - save to DELAYED orders\n\n📧 Gmail: Send - delay notification to client\n\n",
        "height": 832,
        "width": 2304,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5728,
        8128
      ],
      "typeVersion": 1,
      "id": "be050688-d620-4744-83ca-3619325e0dc9",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "sendTo": "=movoaitalia@gmail.com",
        "subject": "=Subject: Order #{{ $json.id }} - We need more information",
        "emailType": "text",
        "message": "=Dear {{ $json.CustomerName }},\n\nWe have detected some issues with your order #{{ $json.id }}.\n\nDue to invalid data, we need a little more information from you to proceed with your order for {{ $json['Bicycle Models'] }}.\n\nPlease reply to this email with:\n- Your correct Email address: movoaitalia@gmail.com\n- Your correct Phone number  {{ $json.phone }}\n- Your correct Shipping address: {{ $json['Shipping Address'] }} (if this is wrong, please provide the correct one)\n\nWe will process your order as soon as we receive the updated information.\n\nThank you!\nBest regards,\nBicycle Shop Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -4256,
        8688
      ],
      "id": "b3c3e95a-9951-4c41-a0a9-56e4eddcb19e",
      "name": "EMAIL TO CUSTOMER PENDING_VERIFICATION",
      "webhookId": "771a0c74-67cf-4da8-9bf7-050b36272c8f",
      "credentials": {
        "gmailOAuth2": {
          "id": "53D8kOUWF37L6Qfx",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=- Name: {{ $json.body.CustomerName }}\n- Phone: {{ $json.body.phone }}\n- Email: {{ $json.body.email }}\n- Shipping Address: {{ $json.body['Shipping Address'] }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a Data Validation Expert.  Your ONLY output must be one of these three strings: 1. VALID (if all data is present and correctly formatted) 2. PENDING_VERIFICATION - [Reason] (if data looks real but is incomplete, like a missing city or CAP) 3. INVALID - [Reason] (if data is clearly fake, contains test words like 'test', or the phone has less than 9 digits)  RULES: - Phone: Must be 9-15 digits. No letters. - Email: Must contain @. Do not block personal Gmail/Outlook unless it's clearly 'test@test.com'. - Address: Must have Street, Number, and City."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -5056,
        8592
      ],
      "id": "e1623a3c-c7e5-4ddf-9448-0a01c3f9d4e9",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -4984,
        8816
      ],
      "id": "56e13d2c-fb35-4467-b3dd-04bc57478057",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "Z2zT01QqgRlndMbx",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "VALID",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f4f310b2-890e-43c3-bba8-e76871c1a301"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "44bd0d35-46fe-4ad4-9c10-6eb396cdcc65",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "VALID",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -4704,
        8592
      ],
      "id": "b3c3040f-c0b6-45a9-a770-d162692a6a01",
      "name": "VALID A SINISTRA / INVALID A DESTRA"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('code java validation (check ordini if stock sufficente)').item.json.stockAvailable }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "fce1d826-2baa-4b08-ae44-de33dd616752"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d056b2b2-d0d0-4c5f-9415-b7c672a9e032",
                    "leftValue": "={{ $('code java validation (check ordini if stock sufficente)').item.json.stockAvailable }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -4032,
        8496
      ],
      "id": "746249c7-4628-4bf5-b9f1-feb49d044c46",
      "name": "code java validation (check ordini if stock sufficente"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1A_KizJA3bZd7AbQWMON_ap02vlpwBcxxLjAYAkhxSCA",
          "mode": "list",
          "cachedResultName": "Orders_DELAYED",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1A_KizJA3bZd7AbQWMON_ap02vlpwBcxxLjAYAkhxSCA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Foglio1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1A_KizJA3bZd7AbQWMON_ap02vlpwBcxxLjAYAkhxSCA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "CustomerName": "={{ $json.CustomerName }}",
            "Email": "={{ $json.email }}",
            "Shipping Address": "={{ $json['Shipping Address'] }}",
            "phone": "={{ $json.phone }}",
            "Bicycle Models": "={{ $json['Bicycle Models'] }}",
            "quantity": "={{ $json.quantity }}",
            "price": "={{ $json.price }}",
            "notes": "={{ $json.notes }}",
            "Timestamp": "={{ $json.Timestamp }}",
            "orderStatus": "DELAYED",
            "delayedSince": "={{ $json.Timestamp }}",
            "emailsSent": "0",
            "priority": "={{ $now.toISO() }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CustomerName",
              "displayName": "CustomerName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Shipping Address",
              "displayName": "Shipping Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Bicycle Models",
              "displayName": "Bicycle Models",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "quantity",
              "displayName": "quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "orderStatus",
              "displayName": "orderStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "delayedSince",
              "displayName": "delayedSince",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "emailsSent",
              "displayName": "emailsSent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -3808,
        8688
      ],
      "id": "4e1d2e87-cc6b-41c2-b879-7191406709ee",
      "name": "AGGIORNAMENTO Order_DELAYED",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "78DXOMq3gmiXam1g",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "magazzino@example.com",
        "subject": "=⚠️ ORDINE DELAYED - {{ $json['Bicycle Models'] }}",
        "emailType": "text",
        "message": "=ATTENZIONE: \n\nStock insufficiente  \nOrdine: {{ $json.id }} \nCliente: {{ $json.CustomerName }} \nModello: {{ $json['Bicycle Models'] }} Quantità richiesta: {{ $json.quantity }} \nStock disponibile: {{ $('code java validation (check ordini if stock sufficente)').item.json.availableStock }} \n\nL'ordine è stato salvato in Orders_DELAYED.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -3584,
        8688
      ],
      "id": "7720e67e-84d9-4358-b0ee-74efe37e9f70",
      "name": "Notifica magazzino",
      "webhookId": "5bff9ec0-82ea-4b3b-9e00-6b48c593764b",
      "credentials": {
        "gmailOAuth2": {
          "id": "53D8kOUWF37L6Qfx",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "code java validation (check ordini if stock sufficente)": {
      "main": [
        [
          {
            "node": "code java validation (check ordini if stock sufficente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AGGIORNAMENTO ORIDINI": {
      "main": [
        [
          {
            "node": "Send a message to client order is confirmed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message to client order is confirmed": {
      "main": [
        []
      ]
    },
    "aggiornamento finale dello stock": {
      "main": [
        []
      ]
    },
    "lettura dati stock": {
      "main": [
        [
          {
            "node": "code java validation (check ordini if stock sufficente)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual verfication client DB": {
      "main": [
        [
          {
            "node": "EMAIL TO CUSTOMER PENDING_VERIFICATION",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "VALID A SINISTRA / INVALID A DESTRA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VALID A SINISTRA / INVALID A DESTRA": {
      "main": [
        [
          {
            "node": "lettura dati stock",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Manual verfication client DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "code java validation (check ordini if stock sufficente": {
      "main": [
        [
          {
            "node": "AGGIORNAMENTO ORIDINI",
            "type": "main",
            "index": 0
          },
          {
            "node": "aggiornamento finale dello stock",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AGGIORNAMENTO Order_DELAYED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AGGIORNAMENTO Order_DELAYED": {
      "main": [
        [
          {
            "node": "Notifica magazzino",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "saveExecutionProgress": true,
    "callerPolicy": "any",
    "timeSavedPerExecution": 1
  },
  "versionId": "e31b921c-6a48-4dc3-8339-7e5174d6cc4f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c6340a675df2a727ab15ed3f6d8d62880dbe20df9d0152fe8457b488c5c92e1e"
  },
  "id": "yrD122q8VMjLpE9rXRhQC",
  "tags": []
}